<li class="nav-item">
    <a href="{{ path("announcements.crud.index") }}"
       class="nav-link {{ is_subpath('announcements.crud.index') ? 'active' }}">
        <i class="nav-icon fas fa-bullhorn"></i>
        <p>
            {{ trans("announcements") }}
        </p>
    </a>
</li>